<div class="container-fluid p-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="./">Home</a><!-- ./ return upwards route-->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="order">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="account">Account</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
          <ul class="dropdown-menu">
            @for (book of bookRoutes; track $index) {
              @if (book.name !== 'Book Management') {
                <li><a class="dropdown-item" routerLink="{{book.route}}" routerLinkActive="route-active" >{{book?.name}}</a></li>
              }
            }
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
</div>
